@use "skin" as *;

.indicators {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  margin-top: 30px;

  gap: 0.5em;
}

.indicator {
  width: 20px;
  height: 20px;
  padding: 0.3em;
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #1087f5;
  border: 3px solid #1087f5;
}
